.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 1200px;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: #16213e;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.menu-item {
  color: #ffffff;
}


// Media queries
@media screen and (max-width: 1200px) {
  .header {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 750px) {
  .header {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;

    div{
      padding-bottom: 0;
    }
  }
}