.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.menu-item {
  color: #ffffff;
}