.header {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: #16213e;

  .logo {
    text-align: center;
    @extend .padding-20;
  }

  .logo a {
    color: #0074db;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.menu-item {
  color: #ffffff;
  @extend .padding-20;
}

.padding-20 {
  padding: 20px;
}


// Media queries
@media screen and (max-width: 1200px) {
  .header {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    width: 100%;

    .menu-item-list {
      display: grid !important;
      grid-template-columns: repeat(4, 1fr) !important;
    }

  }
}

@media screen and (max-width: 750px) {
  .header {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;

    .menu-item, .logo {
      padding: 5px;
      font-size: .9rem;
    }
  }
}