.about-content {
  display: flex;
  flex-direction: row;
  gap: 1rem 2rem;

}

.about-description-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  justify-content: center;
}

.about-left {
  width: 40% !important;
  align-content: center;

}

.about-right {
  width: 60% !important;
}


.about-description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff0d;
  padding: 1.5rem;
  border-radius: 10px;
  width: 40%;
  color: #a0a0a0;

}

.about-info {
  justify-content: center;
  align-content: center;
  font-size: 1.1rem;

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate;
  }

}

.about-number {
  font-size: 2rem;
  color: #7ca9ff;
  font-weight: 700;
  justify-content: center;
  align-content: center;
}

.about-text {
  justify-content: center;
  align-content: center;
  max-width: 95%;
  text-align: center;
}
