.about-content {
  display: flex;
  flex-direction: row;
  gap: 10px;

}

.about-left {
  display: flex;
  flex-direction: row;
  width: 40% !important;
  flex-wrap: wrap;
  gap: 1rem 2rem;

}

.about-right {
  width: 60% !important;
}


.about-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff0d;
  padding: 1.5rem;
  border-radius: 10px;
  width: 40%;
  color: #a0a0a0;
}

.about-info {
  justify-content: center;
  align-content: center;

}

.about-number {
  font-size: 2rem;
  color: #7ca9ff;
  font-weight: 700;
  justify-content: center;
  align-content: center;
}

.about-text {
  justify-content: center;
  align-content: center;
  max-width: 95%;
  text-align: center;
}
