@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Lora:wght@700&display=swap');


.hero-section {
  background-image: url(https://portfolio.johnathanjulig.com/wp-content/uploads/2025/09/download.svg);
  background-size: contain;
  background-repeat: repeat;
  background-attachment: scroll;
  height: 75vh;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-greeting, .hero-description > span {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.3rem;
  text-align: left;

}

.hero-headline {
  font-family: 'Lora', sans-serif;
  font-size: 3.5rem;
  line-height: 1.1;
  text-align: left;
  margin: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 15px !important;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 25px;
}

.hero-button {
  border-radius: 6px;
  padding: 15px 30px;
  transition-duration: .3s;
  transition-timing-function: ease;
  text-decoration: none;
}

.hero-left-button {
  @extend .hero-button;
  background-color: rgba(239, 161, 105, 0.78);
  border: 1px solid rgba(239, 161, 105, 0.78);
  color: #111d33;
}

.hero-right-button {
  @extend .hero-button;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.11);
  background-color: transparent;
  border: 1px solid #efa169;
  color: #efa169;
}

@media screen and (max-width: 500px) {
  .hero-section {

    height: 60vh;
  }
}