.hero-section {
  background-image: url(../../assets/images/background-circles.svg);
  background-size: contain;
  background-repeat: repeat;
  background-attachment: scroll;
  min-height: 75vh;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-greeting,
.hero-description > span {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.3rem;
  text-align: left;
}

.hero-description {
  text-align: left;
  max-width: 1000px;
}

.hero-headline {
  font-family: 'Lora', sans-serif;
  font-size: 3.5rem;
  line-height: 1.1;
  text-align: left;
  margin: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 15px !important;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 25px;
}

.hero-button {
  border-radius: 6px;
  padding: 15px 30px;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .hero-section {
    height: 775px;
  }
}

.hero-section svg {
  height: 75px;
  width: 100%;
}

.hero-techline {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  opacity: 0.85;
}
