.stack-card-grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.stack-category-grid {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;
  gap: 2rem !important;
}

.stack-category-card {
  border-radius: 15px;
  padding: 1.25rem;
}

.stack-card {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 25px;
  max-width: 350px;

  a {
    color: white;
  }

  span {
    font-size: 1.1rem;
  }

}

.platforms-cms {
  border: 1px solid #f9dc24;
}

.wordpress-tools {
  border: 1px solid #49a046;
}

.dev-tools-systems {
  border: 1px solid #eb8a44;
}

.languages {
  border: 1px solid #7ca9ff;
}

// Media queries
@media screen and (max-width: 1200px) {
  .stack-category-grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 12px;
  }
}

@media screen and (max-width: 700px) {
  .stack-category-grid {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}