* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  padding: 20px;
  background: #16213e;
  color: #ffffff;
  line-height: 1.6;
  overflow-x: hidden;
}
.padding-20 {
  padding: 20px;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;

}

.header a{
  color: #ffffff;
    text-decoration: none; /* Removes the underline */
  }


ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;

}
.menu-item {
  color: #ffffff;
}